sudo: required
dist: trusty
language: ruby
rvm:
  - 2.4.0
cache: bundler
bundler_args: --without production --deployment
#addons:
#  apt:
#    sources:
#      - google-chrome
#    packages:
#      - google-chrome-stable

before_install:
  - gem install bundler --pre
  - export CHROME_BIN=/usr/bin/google-chrome
#  - export DISPLAY=:99.0
#  - sh -e /etc/init.d/xvfb start
  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation
  - wget https://dl.google.com/linux/direct/google-chrome-unstable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb

  - wget http://chromedriver.storage.googleapis.com/2.29/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - sudo cp chromedriver /usr/bin/.
  - sudo chmod +x /usr/bin/chromedriver
  - echo $PATH
  - which chromedriver
script:
  - bin/rails test
  - bin/rails test:system
#debug
#script: "RAILS_ENV=test bundle exec rake test:ci --trace"
#notifications:
#  webhooks:
#    urls:
#      - https://webhooks.gitter.im/e/c57bd85cc9e2aba2d679
#    on_success: change
#    on_failure: always
#    on_start: false     # default: false
