language: ruby
rvm:
  - 2.4.0
cache: bundler
bundler_args: --without production --deployment
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-dev

before_install:
  - gem install bundler --pre
before_script:
  - wget http://chromedriver.storage.googleapis.com/2.29/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - sudo apt-get --only-upgrade install google-chrome-dev
  - sudo cp chromedriver /usr/local/bin/.
  - sudo chmod +x /usr/local/bin/chromedriver
script:
  - bin/rails test
  - bin/rails test:system
#debug
#script: "RAILS_ENV=test bundle exec rake test:ci --trace"
#notifications:
#  webhooks:
#    urls:
#      - https://webhooks.gitter.im/e/c57bd85cc9e2aba2d679
#    on_success: change
#    on_failure: always
#    on_start: false     # default: false
